
.skeleton {
  height: calc(100vh + 50px);
  width: 100%;
  background-color: white;

  &__card {
    position: relative;
    margin-bottom: 0.4em;
    line-height: 1;
    flex: 1;

    &__image {
      min-height: 100%;
    }
  
    &__buttons {
      position: absolute !important;
      bottom: 0% !important;
      border-radius: 0.6em 0.6em 0em 0em !important;
    }
    
  }  

}
