
$sticky-height: 70px;

.sticky + main {
  padding-top: $sticky-height;
}

.navbar {
  height: $sticky-height;
  background: #ffffff8a;
  z-index: 1;
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  column-gap: 1em;

  &.sticky {
    position: fixed;
    top: 0em;
  }

  &.unsticky {
    position: relative;
  }

  & .nav-button, & .sort-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
    
  & .nav-button {
    font-size: 2.5rem;
  }

  & .sort-button {
    font-size: 2.1rem;

    &.hide {
      display: none;
    }
  }

  & .sort-selector {
    padding: 0.45em;
    padding-bottom: 0.8em;
    border-radius: 0.6em;
    position: absolute;
    right: 0em;
    top: 16%;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
    border: 1px solid #aaa5a5;
    list-style: none;
    z-index: 1;
    background: white;
    color: #aaa5a5;
    text-align: center;

    &__title {
      font-size: 1.2rem;
      text-decoration: underline;
      color: black;
      margin-bottom: 0.8em;
    }

    &__option {
      cursor: pointer;

      &:hover, &.selected {
        color: black;
      }

      &__option.selected {
        font-weight: 600;
      }

    }

  }

  & .search {
    position: relative;
    flex: 1;

    &__input {
      padding: 0.45em;
      padding-left: 0.8em;
      border-radius: 0.6em;
      position: absolute;
      right: 0em;
      top: 50%;
      transform: translate(0%, -50%);
      outline: none;
      width: 100%;
      font-size: 1.4rem;
      border: 1px solid #aaa5a5;
    }

    &__button-clear, &__button-search {
      position: absolute;
      top: 50%;
      padding: 0em 0.25em;
      padding-left: 0.4em;
      transform: translate(0%, -50%);
      border: none;
      background-color: white;
      border-radius: 0 0.3em 0.3em 0;
      outline: none;
      cursor: pointer;
    }
    
    &__button-clear {
      font-size: 1.8rem;
      right: 1.8em;
      color: gray;
      z-index: 2;
    }
    
    &__button-search {
      font-size: 2.2rem;
      right: 0.08em;
      z-index: 1;
    }

  }

}