
$init-translateY: 6%;
$slide-in-duration: 0.2s;
$slide-out-duration: 0.5s;
$pulsate-fwd-duration: 1.5s;

.photo-detail {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0em;
  left: 0em;
  background-color: transparent;
  z-index: 1;

  &__article {
    width: 100%;
    height: 95%;
    position: fixed;
    bottom: 0em;
    left: 0em;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1em 1em 0em 0em;
    box-shadow: 0px -2px 18px -1px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 0em;
    backdrop-filter: blur(10px);
    opacity: 0;
  
    &__close-button {
      position: absolute;
      right: 1em;
      top: 1em;
      padding: 0.56em 0.8em;
      font-size: 1.6rem;
      background-color: black;
      color: white;
      border-radius: 50%;
      z-index: 1;
      cursor: pointer;
      border: 1px solid #ffffffba;
    }
  
    &__image {
      position: relative;
      height: 50%;
      backdrop-filter: blur(10px);
      border-radius: inherit;
  
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;  
        position: absolute;
        left: 50%;
        top: calc(50% + 1px);
        transform: translate(-50%, -50%);
  
      }
  
    }
  
    &__info {
      border-top: 1px solid rgb(206, 202, 202);
      position: relative;
      top: 0em;
      background: white;
      height: 50%;
  
      &__features, &__title, &__description {
        padding: 0.92em 1em;
      }
      
      &__title, &__description {
        text-align: left;
      }
  
      &__features {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2em;
        box-shadow: 0px 4px 4px 0px #DADADA;

        i {
          margin-left: 0.4em;
        }

      }
  
      &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  
        i {
          cursor: pointer;
          font-size: 1.4rem;
        }
  
      }
  
      &__description {
        display: block;
        margin: 0 0.6em;
        padding: 0.92em 0.4em;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 0.4em;
        width: calc(100% - 1.2em);
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        font-size: 1rem;
        height: 40%;
  
        &:disabled {
          color: inherit;
          border: none;
        }
  
        &:focus {
          outline: none;
        }
  
      }
      
      }
  
    &__edit-buttons {
      position: absolute;
      bottom: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: calc(100% - 1.2em);
      list-style: none;
      left: 50%;
      transform: translateX(-50%);
  
      li {
        width: 50%;
      }
  
      button {
        width: 100%;
        padding: 1.12em 1em;
        font-size: 1rem;
        cursor: pointer;
      }
  
      &--dismiss {
        background-color: white;
        color: black;
        border-radius: 0.6em 0em 0em 0.6em;
        border-right-width: 0px;
      }
  
      &--update {
        background-color: black;
        color: white;
        border-radius: 0em 0.6em 0.6em 0em;
      }
  
    }
  
  }

}


.slide-in-bottom {
  opacity: 1;
	-webkit-animation: slide-in-bottom $slide-in-duration cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom $slide-in-duration cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom $slide-out-duration cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom $slide-out-duration cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd $pulsate-fwd-duration ease-in-out infinite both;
	        animation: pulsate-fwd $pulsate-fwd-duration ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-12 12:33:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY($init-translateY);
            transform: translateY($init-translateY);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY($init-translateY);
            transform: translateY($init-translateY);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-6-12 14:15:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-12 19:12:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}

@media only screen and (min-width: 580px) {
  .photo-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__article {
      max-width: 80%;
      max-height: 90%;
      display: flex;
      flex-direction: row;
      position: relative;
      left: unset;
      bottom: unset;
      border-radius: 1em;
      flex-wrap: wrap;

      &__image, &__info {
        width: 100%;
      }

      &__info {
        border-radius: 0em 0em 1em 1em;

        &__features, &__title {
          padding: 0.92em 2em;
        }

        &__description {
          margin: 0em 2em;
          width: calc(100% - 4em);
          height: 30%;
        }

      }

      &__edit-buttons {
        width: calc(100% - 4em);
        bottom: 2em;
      }
    
    }

    & .image-buttons{
      border-radius: 0.6em 0.6em 1em 1em;
    }

  }

}

@media only screen and (min-width: 1100px) {
  .photo-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__article {
      max-width: 80%;
      max-height: 80%;
      display: flex;
      flex-direction: row;
      position: relative;
      left: unset;
      bottom: unset;
      border-radius: 1em;

      &__image {
        flex: 1;
        height: 100%;
      }
      
      &__info {
        flex: 1;
        height: 100%;
        padding-top: 2em;
        border-radius: 0em 1em 1em 0em;

        &__features, &__title {
          padding: 0.92em 2em;
        }

        &__features {
          position: relative;
          top: 20em;
          box-shadow: unset;
        }

        &__description {
          margin: 0em 2em;
          width: calc(100% - 4em);
          height: 25%;
        }

      }

      &__edit-buttons {
        width: calc(50% - 4em);
        right: 25%;
        left: unset;
        transform: translateX(50%);
        bottom: 2em;
      }

      &__close-button {
        font-size: 1.2rem;
      }

    }

    & .image-buttons{
      width: 50%;
      right: 0em;
      border-radius: 0.6em 0.6em 1em 0em;
      align-self: center;

      button {
        display: flex;
        align-items: center;
      }

      &__download {
        flex-grow: 0;
      }

      &__favourites__text, &__download__text {
        display: block;
        font-size: 1rem;
      }

      &__favourites__text {
        margin-left: 1em;
      }

      &__download__text {
        margin-right: 1em;
      }

    }

  }

  
}



